# Unix - Conda - Pip

We run commands in CLI, e.g., Terminal, but here we are using Jupyter Notebook to demonstrate:

1. Output from commands
2. That when experiementing or developing programs in the notebook, you can avoid switching tools.
3. That you can install pacakges in the beginning of the notebook (e.g., Sagemaker) so it's clear what packages are used.

## Unix commands

### Basics

For some of the basic commands, you can run use the cell to run it directly:

In [2]:
pwd # print working directory

'/Users/luckyapollo/Desktop/Brainwork/fourthbrain/MLE-10/assignments/week-01-mle-basictools/nb'

You always want to know "where you are" and how to look for help. Use `man` to display the user manual of any command that we can run on the terminal.

In [3]:
man pwd # press ESC to exit

PWD(1)                       General Commands Manual                      PWD(1)

NNAAMMEE
     ppwwdd – return working directory name

SSYYNNOOPPSSIISS
     ppwwdd [--LL | --PP]

DDEESSCCRRIIPPTTIIOONN
     The ppwwdd utility writes the absolute pathname of the current working
     directory to the standard output.

     Some shells may provide a builtin ppwwdd command which is similar or identical
     to this utility.  Consult the builtin(1) manual page.

     The options are as follows:

     --LL      Display the logical current working directory.

     --PP      Display the physical current working directory (all symbolic links
             resolved).

     If no options are specified, the --LL option is assumed.

EENNVVIIRROONNMMEENNTT
     Environment variables used by ppwwdd:

     PWD      Logical current working directory.

EEXXIITT SSTTAATTUUSS
     The ppwwdd utility exits 0 on success, and >0 if an error occurs.

EEXXAAMMPPLLEESS
     Show current working directory with symbolic links resolved:

           $ /bin/pwd -P
           /usr/home/fernape

     Show the logical current directory.  Then use file(1) to inspect the _/_h_o_m_e
     directory:

           $ /bin/pwd
           /home/fernape
           $ file /home
           /home: symbolic link to usr/home

SSEEEE AALLSSOO
     builtin(1), cd(1), csh(1), realpath(1), sh(1), getcwd(3)

SSTTAANNDDAARRDDSS
     The ppwwdd utility conforms to IEEE Std 1003.1-2001 (“POSIX.1”).

HHIISSTTOORRYY
     The ppwwdd command appeared in Version 5 AT&T UNIX.

BBUUGGSS
     In csh(1) the command ddiirrss is always faster because it is built into that
     shell.  However, it can give a different answer in the rare case that the
     current directory or a containing directory was moved after the shell
     descended into it.

     The --LL option does not work unless the PWD environment variable is exported
     by the shell.

macOS 12.6                      October 24, 2020                      macOS 12.6

Further, cell magic `%%bash` turns a cell into a bash script where you can run multiple lines (See more cell/line magics [here](https://ipython.readthedocs.io/en/stable/interactive/magics.html)).

In [4]:
%%bash
pwd
ls -lah # WE DO: What are those flags for?

/Users/luckyapollo/Desktop/Brainwork/fourthbrain/MLE-10/assignments/week-01-mle-basictools/nb
total 80
drwxr-xr-x   3 luckyapollo  staff    96B Oct 31 11:56 .
drwxr-xr-x  10 luckyapollo  staff   320B Oct 31 13:33 ..
-rw-r--r--@  1 luckyapollo  staff    37K Oct 31 11:56 unix-conda-pip.ipynb

### Download a data file

Let's download some data from [Census Income Data Set](https://archive.ics.uci.edu/ml/datasets/Census+Income); but first we would like to make a new directory to store the data at the same level as `nb` directory.

In [5]:
%%bash
cd ..
# WE DO: make a new diretory called `dat` under the project root directory

Let's confirm that we just created an empty directory `dat` using command `tree`. Not all command can be run in the cell directly, adding ! in front of command can do the trick:

In [6]:
!tree .. -L 2

..
├── LICENSE
├── README.md
├── dat
│   └── adult.csv
├── md
│   └── git-more.md
├── nb
│   └── unix-conda-pip.ipynb
└── pandas-sklearn-basics
    └── pandas-sklearn-basics.ipynb

4 directories, 6 files

In [7]:
# download a csv file
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data -O ../dat/adult.csv

--2022-10-31 13:33:21--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: '../dat/adult.csv'

../dat/adult.csv    100%[===================>]   3.79M   898KB/s    in 4.5s

2022-10-31 13:33:27 (857 KB/s) - '../dat/adult.csv' saved [3974305/3974305]

In [8]:
!tree .. -L 2 # check again

..
├── LICENSE
├── README.md
├── dat
│   └── adult.csv
├── md
│   └── git-more.md
├── nb
│   └── unix-conda-pip.ipynb
└── pandas-sklearn-basics
    └── pandas-sklearn-basics.ipynb

4 directories, 6 files

### Inspect data

Let's inspect first 10 lines of data:

In [9]:
!head ../dat/adult.csv

39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K
38, Private, 215646, HS-grad, 9, Divorced, Handlers-cleaners, Not-in-family, White, Male, 0, 0, 40, United-States, <=50K
53, Private, 234721, 11th, 7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male, 0, 0, 40, United-States, <=50K
28, Private, 338409, Bachelors, 13, Married-civ-spouse, Prof-specialty, Wife, Black, Female, 0, 0, 40, Cuba, <=50K
37, Private, 284582, Masters, 14, Married-civ-spouse, Exec-managerial, Wife, White, Female, 0, 0, 40, United-States, <=50K
49, Private, 160187, 9th, 5, Married-spouse-absent, Other-service, Not-in-family, Black, Female, 0, 0, 16, Jamaica, <=50K
52, Self-emp-not-inc, 209642, HS-grad, 9, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 45, United-States, >50K
31, Private, 45781, Masters, 14, Never-married, Prof-specialty, Not-in-family, White, Female, 14084, 0, 50, United-States, >50K
42, Private, 159449, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 5178, 0, 40, United-States, >50K

How about the last 3 lines? ( wait, I only see 2 lines. what's wrong? )

In [10]:
!tail -n 3 ../dat/adult.csv

22, Private, 201490, HS-grad, 9, Never-married, Adm-clerical, Own-child, White, Male, 0, 0, 20, United-States, <=50K
52, Self-emp-inc, 287927, HS-grad, 9, Married-civ-spouse, Exec-managerial, Wife, White, Female, 15024, 0, 40, United-States, >50K

How many records are there?

In [11]:
!wc -l ../dat/adult.csv

   32562 ../dat/adult.csv

Challenge: how many columns are there?

In [12]:
!head -1 ../dat/adult.csv | sed 's/[^,]//g' | wc -c

      15

## Conda: environment manager + package manager

You might have heard about Anaconda / Miniconda / Miniforge:

- What is the difference between `conda` and `miniconda`? [An answer](https://stackoverflow.com/questions/45421163/anaconda-vs-miniconda).
- What is the difference between `miniconda` and `miniforge`? [An answer](https://stackoverflow.com/questions/60532678/what-is-the-difference-between-miniconda-and-miniforge).

Though Conda is considered both a package manager and an environment manager, we  focus on using it as the environment manager, and use `pip` as the package manager.

### Installation

First, install `miniconda` (Feel free to skip if you have already installed it, or any flavor of conda).

Run the following commands in terminal to download the lastest Miniconda distribution and install it (Mac Intel Book). 

    ```
    cd ~
    wget https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
    bash Miniconda3-latest-MacOSX-x86_64.sh
    ```

For M1 chip, install `miniforge` instead. If you are new to `brew`, following instructions [here](https://brew.sh) to install Homebrew first:

    ```
    brew install miniforge
    ```

Outputs from these installations are rather long, so we ask you to run it in a terminal window instead.

Confirm that the installation is successful:

In [13]:
%%bash
which conda  # where the executable conda is in my path?
conda -V     # which version of conda?
which python # where the executable python is in my path?
python -V    # what version of python?

/Users/luckyapollo/opt/anaconda3/condabin/conda
conda 4.14.0
/Users/luckyapollo/opt/anaconda3/envs/mlops-course/bin/python
Python 3.8.13

### Create a new env

Create a new conda environment named `py39_12` where you specify a python version to be 3.9.12. Note the last flag `--yes` to skip the confirmation prompt.

In [14]:
!conda create --name py39_12 python=3.9.12 --yes

Collecting package metadata (current_repodata.json): done
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.14.0
  latest version: 22.9.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /Users/luckyapollo/opt/anaconda3/envs/py39_12

  added / updated specs:
    - python=3.9.12


The following NEW packages will be INSTALLED:

  bzip2              conda-forge/osx-64::bzip2-1.0.8-h0d85af4_4
  ca-certificates    conda-forge/osx-64::ca-certificates-2022.9.24-h033912b_0
  libffi             conda-forge/osx-64::libffi-3.4.2-h0d85af4_5
  libsqlite          conda-forge/osx-64::libsqlite-3.39.4-ha978bb4_0
  libzlib            conda-forge/osx-64::libzlib-1.2.13-hfd90126_4
  ncurses            conda-forge/osx-64::ncurses-6.3-h96cf925_1
  openssl            conda-forge/osx-64::openssl-3.0.5-hfd90126_2
  pip                conda-forge/noarch::pip-22.3-pyhd8ed1ab_0
  python             conda-forge/osx-64::python-3.9.12-h1cc4136_1_cpython
  readline           conda-forge/osx-64::readline-8.1.2-h3899abd_0
  setuptools         conda-forge/noarch::setuptools-65.5.0-pyhd8ed1ab_0
  sqlite             conda-forge/osx-64::sqlite-3.39.4-h9ae0607_0
  tk                 conda-forge/osx-64::tk-8.6.12-h5dbffcc_0
  tzdata             conda-forge/noarch::tzdata-2022e-h191b570_0
  wheel              conda-forge/noarch::wheel-0.37.1-pyhd8ed1ab_0
  xz                 conda-forge/osx-64::xz-5.2.6-h775f41a_0


Preparing transaction: done
Verifying transaction: done
Executing transaction: done
#
# To activate this environment, use
#
#     $ conda activate py39_12
#
# To deactivate an active environment, use
#
#     $ conda deactivate

Retrieving notices: ...working... done

In [15]:
# YOU CODE HERE 
# list all environments in conda

You shall see something like this:
```
# conda environments:
#
                         /Users/flora/miniforge3
                         /Users/flora/miniforge3/envs/tf38
base                  *  /usr/local/Caskroom/miniforge/base
py39                     /usr/local/Caskroom/miniforge/base/envs/py39
py39_12                  /usr/local/Caskroom/miniforge/base/envs/py39_12
```

### Activate an env

By default, you are under the `base` environment, to activate the new environement, run `conda activate py39_12` in terminal.

If you are using VS code, click on the top right button to switch python kernel. You will be prompted to install `ipykernel`, follow the instructions to install the package. Or you can run `source activate`, followed by 
`conda activate /usr/local/Caskroom/miniforge/base/envs/py39_12` in a cell. 

If you are using jupyter notebook on a localhost (by defaut 8888), you can restart the jupyter notebook after activating the new environment.

Now verify the python version:

In [16]:
%%bash

python --version
which python
conda env list

Python 3.8.13
/Users/luckyapollo/opt/anaconda3/envs/mlops-course/bin/python
# conda environments:
#
                         /Users/luckyapollo/conda/envs/sa
base                     /Users/luckyapollo/opt/anaconda3
mlops-course          *  /Users/luckyapollo/opt/anaconda3/envs/mlops-course
py39_12                  /Users/luckyapollo/opt/anaconda3/envs/py39_12
sa                       /Users/luckyapollo/opt/anaconda3/envs/sa

<details>
<summary>Click to see how to add the Conda env to you jupyter notebook kernels</summary>

```
pip install ipykernel
python -m ipykernel install --user --name=py39_12
```

Next time you launch jupyter notebook, you will see `py39_12` as an option under Kernel/Change kernel.
</details>

### Delete an env

To keep a lean list of environments, we want to prune unused environements from time to time. Simply do the following
```
conda remove --name old_env --all --yes
```

## Pip: python package manager

We recommend to use pip as your python package installer/manager [(fun read on pip vs conda.)](https://stackoverflow.com/questions/20994716/what-is-the-difference-between-pip-and-conda) Note you don't have install pip explictly since it was done during the installation of miniconda/miniforge.

In [17]:
!which pip

/Users/luckyapollo/opt/anaconda3/envs/mlops-course/bin/pip

### Install package

We can certainly run `pip` commands the same way as earlier. Just for fun, let's try Jupyter line magic `%pip`. 

First make sure that we would like to have the most recent version of `pip` installed.

In [18]:
%pip install --upgrade pip

Requirement already satisfied: pip in /Users/luckyapollo/opt/anaconda3/envs/mlops-course/lib/python3.8/site-packages (22.3)
Note: you may need to restart the kernel to use updated packages.

In [19]:
%pip install numpy pandas

Requirement already satisfied: numpy in /Users/luckyapollo/opt/anaconda3/envs/mlops-course/lib/python3.8/site-packages (1.23.4)
Collecting pandas
  Downloading pandas-1.5.1-cp38-cp38-macosx_10_9_x86_64.whl (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 6.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/luckyapollo/opt/anaconda3/envs/mlops-course/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/luckyapollo/opt/anaconda3/envs/mlops-course/lib/python3.8/site-packages (from pandas) (2022.4)
Requirement already satisfied: six>=1.5 in /Users/luckyapollo/opt/anaconda3/envs/mlops-course/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.5.1
Note: you may need to restart the kernel to use updated packages.

Now you can use these packages:

In [20]:
# allow multiple outputs in a single cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [21]:
import numpy as np

# create a numpy array with random numbers
x = np.random.rand(10)
x.shape
x.reshape((5,-1))

(10,)

array([[0.11469571, 0.78612371],
       [0.3022739 , 0.29104932],
       [0.80376563, 0.07562308],
       [0.15016494, 0.09468066],
       [0.8049774 , 0.21300516]])

In [22]:
%precision 3
x.reshape((5,-1))

'%.3f'

array([[0.115, 0.786],
       [0.302, 0.291],
       [0.804, 0.076],
       [0.15 , 0.095],
       [0.805, 0.213]])

In [23]:
import pandas as pd
census_df = pd.read_csv(filepath_or_buffer='../dat/adult.csv', header = None)
census_df.head()
census_df.tail()
census_df.shape

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

(32561, 15)

### Uninstall packages

In [24]:
# Uninstall a package
%pip uninstall numpy pandas --yes

Found existing installation: numpy 1.23.4
Uninstalling numpy-1.23.4:
  Successfully uninstalled numpy-1.23.4
Found existing installation: pandas 1.5.1
Uninstalling pandas-1.5.1:
  Successfully uninstalled pandas-1.5.1
Note: you may need to restart the kernel to use updated packages.

In [25]:
%pip cache purge

Files removed: 48
Note: you may need to restart the kernel to use updated packages.